POSTGRES_DB=master
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PG_DSN=postgresql+asyncpg://user:password@localhost:5432/master
PG_ECHO=false

ADMIN_PASSWORD_HASH=
JWT_SECRET=change-me-to-a-long-random-string

CORS_ORIGINS=["http://localhost:3000"]

LOG_LVL=INFO
SHOW_DOCS=true



